.menu-item-text {
    font-size: var(--font-size-normal);
}

.menu-item-icon {
    font-size: var(--icon-size-default);
    margin-top: -3px;
}

.side-menu {
    height: 100%;
    background-color: #F2F2F2;
    padding-top: 10px;
}